<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to CSS file -->
</head>
<body>
<div class="login-container"></div>
<h1>Login Now</h1>
<style>
    h3{
        color: blue
    }
</style>
{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}
<form method="POST" action="login">
    {% csrf_token %}
    <p>username:</p>
    <input type="text" name="username">
    <p>Password:</p>
    <input type="password" name="password">
    <p>Repeat Password:</p>
    <input type="submit">
</form>

</body>